<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>modal</title>
</head>
<body>

   
<p><button class="triggerLG"><img src="img/img-logout.png" alt="imagem de icone de logout"></button></p>


<div class="modalLG">
  <div class="modal-contentLG">
    <h1>Você realmente deseja sair da sua conta?</h1>
    <div class="info">

      <p><button id="amarelo">Sim</button></p> 
      <p><button id="azul">Voltar</button></p>

    </div>

    
  </div>
</div>

<script src="modal.js"></script>
    
</body>
</html>
